<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>

<section layout:fragment="custom-content">
    <div>
    <h1>User Registration</h1>
    <form class="mb-3" action="#" method="post" th:action="@{/person/save}" th:object="${person}" >
        <label class="form-label" for="id" >Id:</label>
        <input class="form-control" id="id" th:field="*{id}" type="text"/><br/>

        <label class="form-label" for="username">Full name:</label>
        <input class="form-control" id="username" th:field="*{username}" type="text"/><br/>

        <label class="form-label" for="email">E-mail:</label>
        <input class="form-control" id="email" th:field="*{email}" type="text"/><br/>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
</section>

</body>
</html>