<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>
<body>

<section layout:fragment="custom-content">

<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{person.id}">id</th>
        <th th:text="#{person.username}">username</th>
        <th th:text="#{person.email}">email</th>
        <th th:text="#{person.enabled}">enabled</th>
        <th th:text="#{person.role}">role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${people}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.username}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.enabled}"></td>
        <td th:text="${person.role}"></td>
    </tr>
    </tbody>
</table>
</section>

</body>
</html>